In [1]:
import pandas as pd
import os
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [27]:
dtypesql = {
    'store_id' : sqlalchemy.types.NUMERIC(),
    'store_name' : sqlalchemy.types.VARCHAR(50),
    'store_address' : sqlalchemy.types.VARCHAR(255),
    'store_day' : sqlalchemy.types.VARCHAR(10),
    'store_start_time' : sqlalchemy.types.TIME(),
    'store_end_time' : sqlalchemy.types.TIME(),
    'store_tel' : sqlalchemy.types.VARCHAR(20),
    'store_score' : sqlalchemy.types.NUMERIC(),
    'store_category' : sqlalchemy.types.VARCHAR(50)
}

In [3]:
url = "postgresql://postgres:1234@localhost:5433/lunch"

In [4]:
conn = psycopg2.connect(url)

In [44]:
df = pd.read_excel("Splited_data.xlsx")

In [46]:
df = df[["맛집명","주소","영업일","영업 시작시간","영업 종료시간","전화번호", "평점","업종"]]

In [47]:
df = df.rename(columns={"맛집명":"store_name", "주소":"store_address", "영업일":"store_day", "영업 시작시간":"store_start_time", "영업 종료시간":"store_end_time", "전화번호":"store_tel", "평점":"store_score", "업종":"store_category"})
df["store_id"] = range(len(df))

In [48]:
df

,store_name,store_address,store_day,store_start_time,store_end_time,store_tel,store_score,store_category,store_id
0,쟝블랑제리,서울 관악구 낙성대역길 8,매일,07:20,22:00,02-889-5170,3.7,"제과,베이커리",0
1,강강술래 신림점,서울 관악구 남부순환로 1660 1층,매일,11:00,22:00,02-886-9233,2.8,갈비,1
2,정담은보쌈 신림점,서울 관악구 남부순환로 1661,매일,14:50,16:00,02-888-8401,4.2,"족발,보쌈",2
3,온정돈까스,서울 관악구 조원로 60 1층,"월,수,목,금,토,일",11:00,19:50,02-3281-3330,2.3,"돈까스,우동",3
4,원조민속순대타운,"서울 관악구 신림로59길 14 2,3층",매일,09:00,02:00,NaN,2.7,순대,4
...,...,...,...,...,...,...,...,...,...
11707,코메또히또,서울 송파구 송파대로49길 31 1층,매일,11:30,22:00,NaN,3.0,일식집,11707
11708,제주곳간,서울 송파구 올림픽로32길 37,매일,17:30,02:00,NaN,2.5,한식,11708
11709,송어야,서울 송파구 백제고분로9길 9 1층,"금,일",12:00,24:00,02-420-9777,4.4,회,11709
11710,차고버거,서울 송파구 오금로11길 61-11 1층 101호,"화,일",11:30,22:00,070-8878-0601,4.0,햄버거,11710
11711,초대창 잠실새내점,서울 송파구 백제고분로9길 17 1층,매일,16:00,00:30,02-416-9292,4.5,"곱창,막창",11711

In [51]:
engine = create_engine(url)
df.to_sql(name = "lcb", con=engine, schema='public', chunksize=10000,
if_exists="append", index = False, dtype=dtypesql, method='multi')

11712